<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
</head>
<body>
<header th:insert="~{bodyHeader :: bodyHeader}"></header>
<div class="container-fluid">
    <div class="row">
        <nav class="row" th:insert="~{sideBarMenu :: sideBarMenu}"></nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="/admin">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="/admin/add">New user</a>
                </li>
            </ul>

            <h3>New user</h3>
            <table class="table table-sm text-center">
                <thead class="thead-light">
                <td class="text-center">
                    <form method="post" action="/admin" class="table table-striped table-sm text-center">
                        <dl>
                            <dt>First name:</dt>
                            <dd><input type="text" class="bg-warning rounded" th:field="*{user.name}" size=40 name="name" required></dd>
                        </dl>
                        <dl>
                            <dt>Last Name:</dt>
                            <dd><input type="text" class="bg-warning rounded" th:field="*{user.lastName}" size=40 name="lastName" required></dd>
                        </dl>
                        <dl>
                            <dt>Email:</dt>
                            <dd><input type="email" class="bg-warning rounded" th:field="*{user.email}" size=40 name="email" required></dd>
                        </dl>
                        <dl>
                            <dt>Password:</dt>
                            <dd><input type="text" class="rounded" th:field="*{user.password}" size=40 name="password" required></dd>
                        </dl>
                        <dl>
                            <dt>Role:</dt>
                            <dd><select multiple class="form-control" th:field="*{user.roles}" size=40 name="role" required>
                                <option>1</option>

                            </select></dd>
                        </dl>

                        <button class="btn btn-primary" type="submit">Add new user</button>
                    </form>
                </td>
                </thead>
            </table>
        </main>
    </div>
</div>

</body>
</html>
</html>