<!doctype html>
<html lang="en">
<head>
    <th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="row">
    <nav class="row" th:insert="~{fragments/sideBarMenu :: sideBarMenu}"></nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>Admin panel</h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="/admin" class="nav-link active" data-toggle="tab">User table</a>
            </li>
            <li class="nav-item">
                <a href="/admin/add" class="nav-link">New user</a>
            </li>
        </ul>
        <main class="container">
            <table id="userTable" class="table table-hover text-center" style="margin-top:10px;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </main>
    </main>
</div>
<div th:replace="fragments/modal :: defaultModal"></div>
<div th:replace="fragments/form :: form"></div>
<div th:replace="fragments/table :: viewTable"></div>
<div th:replace="fragments/footer :: script"></div>
</body>
</html>