<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js" defer></script>
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>

<div class="row">
    <nav class="row" th:insert="~{fragments/sideBarMenu :: sideBarMenu2}"></nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <h1>User information-page</h1>

        <h3>About user</h3>
        <table class="table table-hover text-center">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
            <td th:utext="${user.id}">name</td>
            <td th:utext="${user.name}">name</td>
            <td th:utext="${user.lastName}">last name</td>
            <td th:utext="${user.age}">age</td>
            <td th:utext="${user.email}">email</td>
            <td th:utext="${user.password}">password</td>
            <td><span th:each="role : ${user.roles}"
                      th:text="${role.role.replaceFirst('ROLE_', ' ')}">
                        </span>
            </td>
            </tr>
        </table>
    </main>
</div>
</body>
</html>
</html>